<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

<h1>Create a Basketball team!</h1>

 <form action = "/team" method = "POST">
 <label>Team name:</label> 
 <input name="name" type="text"><br/>
  <label>Coach:</label> 
 <input name="coach" type="text"><br/>
  <label>Point Guard:</label> 
 <input name="pg" type="text"><br/>
  <label>Shooting Guard:</label> 
 <input name="sg" type="text"><br/>
  <label>Power Foward:</label> 
 <input name="pf" type="text"><br/>
  <label>Small Forward:</label> 
 <input name="sf" type="text"><br/>
  <label>Center:</label> 
 <input name="c" type="text"><br/>
 <button id="submit" type = "submit">Submit</button>

 </body>
</html>


